<div class="welcome-container">
  <div class="welcome-card">
    <div class="welcome-icons">
      <img src="/image.png" alt="Icon 1" />
      <img src="/logo_hu_color.png" alt="Icon 2"/>
      <img src="/UANL-Emblem.png" alt="Icon 3"/>
    </div>

    
    <h1>Cuestionario de Tamizaje Pulmonar</h1>
    
    <p class="description">
      Este cuestionario evalúa factores de riesgo para cáncer de pulmón.
      El resultado no sustituye la evaluación médica profesional.
    </p>
    
    <div class="info-box">
      <p><strong>Tiempo estimado:</strong> 5-10 minutos</p>
      <p><strong>No requiere registro</strong></p>
    </div>
    
    <button class="start-button" (click)="startScreening()">
      Comenzar Cuestionario
    </button>
  </div>
</div>
